/MorsCodeGame/Library/Artifacts
/MorsCodeGame/Library
/MorsCodeGame/Temp
/MorsCodeGame/.vs
/MorsCodeGame/ProjectSettings
MorsCodeGame/UserSettings/Layouts/default-2021.dwlt
MorsCodeGame/UserSettings/EditorUserSettings.asset
/MorsCodeGame/Assets/TextMesh Pro
/MorsCodeGame/Assets/UI
/MorsCodeGame/Assets/AVProVideo
/MorsCodeGame/Assets/Plugins/Android
/MorsCodeGame/Assets/Plugins/WSA
/MorsCodeGame/发布程序
/MorsCodeGame/Assets/Easy-Text-Effects-for-Unity-1.0.5
/RadarTouch/Library
/RadarTouch/ProjectSettings
/RadarTouch/Temp
/RadarTouch/UserSettings
/PadControl/.vs
/PadControl/Library
/PadControl/Temp
/PadControl/Release
/PanTiltControl/Library
/PanTiltControl/.vs
/PanTiltControl/ProjectSettings
/PanTiltControl/Temp
/PanTiltControl/UserSettings/Layouts
/PanTiltControl/Release
/PadControl/UserSettings/Layouts
/MorsCodeGame/obj
/PadControl/Logs
/PanTiltControl/Logs
/PadControl/obj
/MorsCodeGame/Logs
/PanTiltControl/obj
/PadControl/Release
*.csproj
*.sln
/PadControl/Release
PadControl/Release/PadControl.apk
PadControl/Release/PadControl.apk
*.apk
PadControl/Release/PadControl.apk
/MediaPlayerAVPro/Assets/AVProVideo
/MediaPlayerAVPro/Assets/Plugins
/MediaPlayerAVPro/ProjectSettings
PadControl/UserSettings/Layouts/default-2021.dwlt
PadControl/UserSettings/Layouts/default-2021.dwlt
PadControl/PadControl.sln
PadControl/Assembly-CSharp.csproj
*.csproj
*.sln
*.dwlt
/PanTiltControl/Assets/TextMesh Pro
PadControl/Assets/Fonts/AlibabaPuHuiTi-3-55-Regular SDF.asset
MediaPlayerAVPro/小工具/CRC_16/
MediaPlayerAVPro/Assets/LeapMotion/
*.exe
/XinTongYuan_SatelliteCar/Assets/AVProVideo
/XinTongYuan_SatelliteCar/Assets/Plugins
/XinTongYuan_SatelliteCar/obj
/XinTongYuan_SatelliteCar/ProjectSettings
/XinTongYuan_SatelliteCar/Logs
*.mp4
/XinTongYuan_SatelliteCar/.vs/XinTongYuan_SatelliteCar/CopilotIndices
/XinTongYuan_SatelliteCar/.vs
/XinTongYuan_SatelliteCar/Library
/XinTongYuan_SatelliteCar/Temp
/XinTongYuan_SatelliteCar/UserSettings
/XinTongYuan_Radar
/XinTongYuan_SatelliteCarBigScreen/Assets/AVProVideo
/XinTongYuan_SatelliteCarBigScreen/Assets/Plugins
/XinTongYuan_SatelliteCarBigScreen/ProjectSettings
/XinTongYuan_SatelliteCarBigScreen/obj
/XinTongYuan_SatelliteCarBigScreen/.vs/XinTongYuan_SatelliteCarBigScreen/v16
/XinTongYuan_SatelliteCarBigScreen/.vs
/XinTongYuan_SatelliteCarBigScreen/Library
/XinTongYuan_SatelliteCarBigScreen/Logs
/XinTongYuan_SatelliteCarBigScreen/Temp
/XinTongYuan_SatelliteCarBigScreen/UserSettings
*/Library
XinTongYuan_SatelliteCarBigScreen/Assets/卫星/
XinTongYuan_SatelliteCarBigScreen/Assets/汽车/
XinTongYuan_SatelliteCarBigScreen/Assets/Fbxs
XinTongYuan_SatelliteCarBigScreen/Assets/Exo-planets - NovaShade/
HDRPHolo/
*.7z
*.zip
/XinTongYuan_SatelliteCarBigScreen/Assets/平面/科技圈2
/XinTongYuan_SatelliteCarBigScreen/Assets/StreamingAssets/**/*.meta
**/Release
/MediaPlayerAVProUtil/Assets/Plugins/Demigiant
/PadControl/Assets/Plugins/Demigiant
/MediaPlayerAVProUtil/Assets/Vuplex
/Mp3Player/Assets/Plugins/Demigiant/DemiLib
/Mp3Player/Assets/Plugins
/Mp3Player/小工具
